$white: #fff;
$black: #000;
$gray: #ccc;
$light_gray: #e0e0e0;
$lighter_gray: #f6f6f6;

$primary: #54C9C3;
$green: #a8e6cf;
$yellow: #dcedc1;
$orange: #ffd3b6;
$red: #ffaaa5;
$purple: #c2b0c9;
$blue: #8ac6d1;
$japanese_indigo: #3b454e;
$dark: #212225;
$dark2: #2A2B2E;
$bezel_color: black;

$active_window: rgba(white, 0.4);
$inactive_window: rgba(black, 0.1);

$top_height: 24px;
$dock_height: 48px;
$bezel_width: 32px;
$ui_height: calc(100vh - 88px);
$rad: 18px;

$light_shadow: 0px 6px 24px 6px rgba(0,0,0,0.15);
$tight_shadow: 0px 6px 12px 6px rgba(0,0,0,0.05);

$quick: 200ms;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.fill-screen {
    width: 100%;
    height: 100vh;
}

.absolute {
    position: absolute;
}